<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tipos de Casos</h4>
                <button class="btn btn-info mb-3 pull-right"
                    routerLink="/maintenance/add-new-case-type">Agregar
                    Nuevo registro</button>

                <div class="table-responsive">
                    <app-case-types-table></app-case-types-table>
                </div>
            </div>
        </div>
    </div>
</div>
