<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Etapas de Casos</h4>
                <button class="btn btn-info mb-3 pull-right"
                    routerLink="/maintenance/add-new-case-status">Agregar
                    Nuevo registro</button>

                <div class="table-responsive">
                    <app-case-statuses-table></app-case-statuses-table>
                </div>
            </div>
        </div>
    </div>
</div>
