<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for(category of categories(); track category.id){

        <tr>
            <td>{{category?.id}}</td>
            <td>{{category?.name}}</td>
            <td>{{category?.code}}</td>
            <td>{{category?.description}}</td>
            <td>
                <button class="btn btn-outline-info btn-sm mr-2"
                    (click)="editCategory(category)">Editar</button>
                <button class="btn btn-outline-danger btn-sm"
                    (click)="deleteCategory(category.id)">Eliminar</button>
            </td>
        </tr>
        } @empty {
        <tr>
            <td colspan="6" class="text-center">No hay registros
                disponibles.</td>
        </tr>
        }
    </tbody>
</table>