<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-lg-6 col-xl-6">
                            <h4 class="header-title m-b-30">Documentos de
                                muestra</h4>
                        </div>
                    </div>

                    <div class="row">

                        @for(doc of templateDocuments; track doc.id){
                        <div class="col-lg-3 col-xl-2">
                            <div class="file-man-box"><a href
                                    class="file-close"><i
                                        class="fa fa-times-circle"></i></a>
                                <div class="file-img-box">
                                    <img
                                        [src]="getIconForDocument(doc)"
                                        alt="icon">
                                </div>
                                <a
                                    (click)="downloadFile(doc.fileName, doc.originalName)"
                                    class="file-download">
                                    <i class="fa fa-download"></i>
                                </a>
                                <div class="file-man-title">
                                    <h5
                                        class="mb-0 text-overflow">{{doc.fileName}}</h5>
                                    <p class="mb-0"><small>{{doc?.size |
                                            number : '1.2-2'}}
                                            kb</small></p>
                                </div>
                            </div>
                        </div>
                        }
                        <!-- <div class="col-lg-3 col-xl-2">
                            <div class="file-man-box"><a href
                                    class="file-close"><i
                                        class="fa fa-times-circle"></i></a>
                                <div class="file-img-box"><img
                                        src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/dll.svg"
                                        alt="icon"></div><a href="#"
                                    class="file-download"><i
                                        class="fa fa-download"></i></a>
                                <div class="file-man-title">
                                    <h5
                                        class="mb-0 text-overflow">Project_file.dll</h5>
                                    <p class="mb-0"><small>684.3 kb</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-2">
                            <div class="file-man-box"><a href
                                    class="file-close"><i
                                        class="fa fa-times-circle"></i></a>
                                <div class="file-img-box"><img
                                        src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/sql.svg"
                                        alt="icon"></div><a href="#"
                                    class="file-download"><i
                                        class="fa fa-download"></i></a>
                                <div class="file-man-title">
                                    <h5
                                        class="mb-0 text-overflow">Website_file.sql</h5>
                                    <p class="mb-0"><small>457.8 kb</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-2">
                            <div class="file-man-box"><a href
                                    class="file-close"><i
                                        class="fa fa-times-circle"></i></a>
                                <div class="file-img-box"><img
                                        src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/zip.svg"
                                        alt="icon"></div><a href="#"
                                    class="file-download"><i
                                        class="fa fa-download"></i></a>
                                <div class="file-man-title">
                                    <h5
                                        class="mb-0 text-overflow">invoice_project.pdf</h5>
                                    <p class="mb-0"><small>568.8 kb</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-2">
                            <div class="file-man-box"><a href
                                    class="file-close"><i
                                        class="fa fa-times-circle"></i></a>
                                <div class="file-img-box"><img
                                        src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/ps.svg"
                                        alt="icon"></div><a href="#"
                                    class="file-download"><i
                                        class="fa fa-download"></i></a>
                                <div class="file-man-title">
                                    <h5
                                        class="mb-0 text-overflow">invoice_project.pdf</h5>
                                    <p class="mb-0"><small>568.8 kb</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-2">
                            <div class="file-man-box"><a href
                                    class="file-close"><i
                                        class="fa fa-times-circle"></i></a>
                                <div class="file-img-box"><img
                                        src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/png.svg"
                                        alt="icon"></div><a href="#"
                                    class="file-download"><i
                                        class="fa fa-download"></i></a>
                                <div class="file-man-title">
                                    <h5
                                        class="mb-0 text-overflow">invoice_project.pdf</h5>
                                    <p class="mb-0"><small>568.8 kb</small></p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- Cargar archivos -->

                    <div class="row">
                        <div class="col-md-12">
                            <div
                                class="border border-2 border-dashed border-primary rounded p-4 mb-3"
                                style="cursor: pointer;"
                                onclick="document.getElementById('dragDropInput').click()">
                                <div class="text-center">
                                    <div class="mb-3">
                                        <svg width="48" height="48"
                                            fill="currentColor"
                                            class="text-info"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                            <path
                                                d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                                        </svg>
                                    </div>
                                    <h6 class="mb-2">Click to upload
                                        files</h6>
                                    <p
                                        class="text-muted text-center small mb-0">or
                                        drag
                                        and drop files here</p>
                                </div>
                                <input type="file" id="dragDropInput"
                                    (change)="onFileSelected($event)"
                                    class="d-none" multiple>
                            </div>
                            <div class="m-2">
                                @if(selectedDocument){
                                <small id="fileInfo"
                                    class="text-muted">{{selectedDocument.name}}</small>
                                } @else {
                                <small id="fileInfo" class="text-muted">No
                                    files selected</small>
                                }
                            </div>

                            <button type="button" (click)="uploadFile()"
                                class="btn btn-success mr-2 mb-2"> <i
                                    class="fa fa-check"></i> Save
                                Document</button>

                        </div>
                    </div>
                    <!-- Fin de carga de archivos -->

                    <!-- <div class="text-center mt-3">
                        <button type="button"
                            class="btn btn-outline-danger w-md waves-effect waves-light"><i
                                class="mdi mdi-refresh"></i> Load More
                            Files</button>
                    </div> -->
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>