<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gestion de usuarios</h4>
                <button class="btn btn-info mb-3 pull-right"
                    routerLink="/maintenance/add-new-user"><i
                        class="ti-plus"></i>Agregar
                    Nuevo Usuario </button>

                <div class="table-responsive">
                    <app-users-table></app-users-table>
                </div>
            </div>
        </div>
    </div>
</div>
