<!-- ============================================================== -->
<!-- Stats box -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <span class="lstick m-r-20"></span>
                        <img src="./assets/images/icon/staff.png"
                            alt="Clients" />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Clientes</h6>
                        <h2 class="m-t-0">{{totalClients}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <span class="lstick m-r-20"></span>
                        <img src="../assets/images/icon/income.png"
                            alt="Lawyers" />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Casos</h6>
                        <h2 class="m-t-0">{{ totalCases }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <span class="lstick m-r-20"></span>
                        <img src="../assets/images/icon/expense.png"
                            alt="Hearings" />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Casos Abiertos</h6>
                        <h2 class="m-t-0">{{openCases}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <span class="lstick m-r-20"></span>
                        <img src="../assets/images/icon/expense.png"
                            alt="Hearings" />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Casos cerrados</h6>
                        <h2 class="m-t-0">{{closedCases}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Cases overview chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <app-line-chart [cases]="casesByMonth"></app-line-chart>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <app-pie-chart [data]="practiceAreaData"
                    [labels]="practiceAreaLabels"></app-pie-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <app-pie-chart [data]="casesByStatusData"
                    [labels]="casesByStatusLabels"></app-pie-chart>
            </div>
        </div>
    </div>
</div>

<app-cases-of-month-table></app-cases-of-month-table>