<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Clientes</h4>
                <button class="btn btn-info mb-3 pull-right"
                    routerLink="/clients/add-client">Agregar
                    Cliente</button>

                <div class="table-responsive">
                    <app-clients-table></app-clients-table>
                </div>
            </div>
        </div>
    </div>
</div>
