<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for(user of users(); track user.id){

        <tr>
            <td>{{$index + 1}}</td>
            <td>{{getFullName(user)}}</td>
            <td>{{user?.username}}</td>
            <td>{{user?.email}}</td>
            <td>{{user?.role}}</td>
            <td>
                <button class="btn btn-outline-info btn-sm mr-2"
                    routerLink="/maintenance/users/edit/{{user?.id}}">Editar</button>
                <button class="btn btn-outline-danger btn-sm">Eliminar</button>
            </td>
        </tr>
        } @empty {
        <tr>
            <td colspan="6" class="text-center">No hay registros
                disponibles.</td>
        </tr>
        }
    </tbody>
</table>